<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="https://use.typekit.net/cjr1htt.css">

<title>Eat-A-Something</title>

<script src="https://kit.fontawesome.com/2497be539b.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/main.js"></script>
    
</head>
<body>
	<main class="container-fluid">
		<div class="row">
			{{{ body }}}
		</div>
	</main>
</body>
</html>