form.signup,
form.login {
  margin-top: 50px;
}
.activity-list {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}




body {
  background-color: #ACE69A ;
}
h1 {
  font-weight:normal;
  font-weight:bold;
  margin:10px 0 25px;
  font-size: 25pt;
  color: #1B4B30;
  text-align: center;
}




.jarContainer{
  margin-top: 10px;
  height: 150px;
}
.jar {
  position: relative;
  height: 220px;
  margin: 3px auto;
}
.jar img {
  position: absolute;
  height: auto;
  left: 0;
}
.jar, .jar img {
  width: 100px;
}
img#whole-shadow {
  z-index: 1;
  opacity: 0.75;
}
img#paper {
  z-index: 2;
}
img#jar-highlight {
  z-index: 3;
  opacity: 0.75;
}
img#lid {
  opacity: 4;
}
img#lid-highlight {
  z-index: 5;
  opacity: 0.75;
}
img#jar-outline25 {
  z-index: 6;
  opacity: 0.25;
}
img#jar-outline {
  z-index: 7;
}






/* .btn {
  border-radius: 4px;
  color: white;
}
.btn-link{
  color: #1B4B30;
}
.btn-primary{
  background-color: #1B4B30;
  outline-color: #1B4B30;
  background-image: linear-gradient(to bottom, #1B4B30 0%,  #0e341e 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  color: white;
}
a{
  margin: auto;
}
button { 
  width: 250px;
  height: 50px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 5px;    
}
.buttonContainer{
  margin-top: 30px;
}



li {
margin-top: 10px;
}
body {
background: ;
padding: 30px;
text-align: center;
}

.form-control{
  width: 250px;
  height: 52px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 5px;   
  border-radius: 4px;
  outline-width: 0px;
}
form{
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.input-group-btn{
  width: 90px;
  background-color: #1B4B30;
  outline-color: #1B4B30;
  background-image: linear-gradient(to bottom, #1B4B30 0%,  #0e341e 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  color: white;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 5px;   
  border-radius: 4px;
  outline-width: 0px;
  height: 50px;
}
.taskListContainer{
  margin-top: 50px;
}

 */
