<li>
	<p class="pre">{{restaurant}}</p>
	<h3>{{foodItem}}</h3>
	
	{{#if devoured}}
	<a class="btn btn-primary change-status" data-id="{{id}}" data-newstatus="{{devoured}}">Devour It!</a>
	{{/if}}
</li>
